*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(22, 20, 20);
    overflow-y: hidden;
}
.home{
    /* display: flex; */
    background-color: rgb(68, 68, 71);
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home img{
    /* display: flex; */
    /* align-items: center; */
    /* margin-top: 1.5%; */
    /* margin-left: 1.5%; */
    /* background-color: transparent; */
    /* border: 0 ; */
    height: 100%;
    /* justify-content: center;
    align-items: center; */
    /* width: 10%; */
    /* border: 3px rebeccapurple solid ; */
}
button{
    color: white;
    /* 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    font-size: 25px;*/
    
    cursor: pointer;
} 
.sidebar{
    background-color: rgb(22, 20, 20);
    position: absolute;
    width: 30%;
    height: 89.7%;
    /* border: 4px red solid; */
    border-right: 2px white solid;
    /* border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; */
    overflow-y: auto;
}
.sidebar hr{
    margin-top: 15%;
    /* color: rgb(74, 72, 72); */

}
.new-chat{
    /* border: 4px red solid; */
    border: transparent;
    position: absolute;
    width: 100%;
    height: 5vw;
    display: flex;
}
.new-chat button{
    width: 100%;
    background-color: transparent;
    /* border: transparent; */
    /* border: 3px solid red; */
    /* border-bottom: 2px grey solid; */
}
.main-page{
    background-color: rgb(22, 20, 20);
    height: 38vw;
    /* display: flex; */
    /* border: 3px white solid; */
    margin-left: 30vw;
    overflow-y: auto;
}
.main-page .message{
    /* border:  4px blue solid; */
    border-top: 2px rgb(74, 72, 72) solid;
    width: 100%;
    height: 4vw;
    /* position: absolute; */
    /* background-color: white; */
    margin-top: 50.3%;
    display: flex;
}
/* .main-page .message input{
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 95%;
    height: 100%;
    font-size: 2vw;
    /* border: 2px solid papayawhip; */
    /* border: transparent; */
/* } */ 
/* .main-page .message button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* margin-top: 2%; */
    /* width: 5%; */
    /* border: 2px red solid; */
    /* border: transparent; */
/* } */ 
.main-page .responses{
    height: 10%;
    width: 100%;
    background-color: rgb(33, 31, 31);
    border-bottom-right-radius: 7.8%;
    display: flex;
}
.main-page .responses label{
    display: flex;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 2%;
    color: white;
    margin-left: 10px;
}
.messages{
    /* border: 4px solid red; */
    position: absolute;
    height: 5vw;
    width: 70%;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px grey solid;
}
.messages input{
 
    height: 3vw;
    background-color: rgb(33, 31, 31);
    color: white;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: transparent;
    margin-left: 10px;
    border-radius: 25px;
    padding-left: 30px;
    /* box-shadow: 10px; */
}
.messages button{
    background-color: transparent;
    border: transparent;
    height: 3vw;
    width: 1.7vw;
    margin-left: 10px;
}